asgiref==3.11.1
Django==6.0.6
django-browser-reload==1.21.0
django-tailwind==4.4.2
django-widget-tweaks==1.5.1
pillow==12.2.0
psycopg[binary]==3.3.4
python-dotenv==1.2.2
sqlparse==0.5.5
whitenoise==6.12.0
