{% extends "base.html" %}
{% load static %}

{% block contactform %}
<h1 class="text-white font-regular-lg text-4xl uppercase text-center pt-9">Login Here</h1>
<form method="POST" class="contact-form">
  {% csrf_token %}

  <div class="form-group">
    <label>Username</label>
    {{ form.username }}
  </div>

  <div class="form-group">
    <label>Password</label>
    {{ form.password }}
  </div>



  <button type="submit" class="btn-submit">Login</button>
    <a href="/" class="text-white underline text-center block pt-4">Don't have an account? Sign Up</a>
</form>

{% endblock  %}

